[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = vendor/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
forks = 10
display_skipped_hosts = false

[ssh_connection]
pipelining = true
