[Container]
# Directory mounts for the hub decoders and rules. The directories are
# referenced first in the ossec.conf ruleset so their files are evaluated
# before the default ruleset and its built-in JSON decoder.
Volume={{ wazuh_install_root }}/integrations/hub-decoders:/var/ossec/hub_decoders:ro,z
Volume={{ wazuh_install_root }}/integrations/hub-rules:/var/ossec/hub_rules:ro,z
